<MudNavMenu>
    <MudNavLink Href="satsconverter" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.CurrencyBitcoin" IconColor="Color.Primary">Sats Converter</MudNavLink>
    <MudNavLink Href="bitcoinnews" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Newspaper" IconColor="Color.Primary">Bitcoin News</MudNavLink>
    <MudNavLink Href="about" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Info" IconColor="Color.Primary">About</MudNavLink>
    <MudDivider Class="my-2 drawer-toggle-divider" />
    <div class="px-4 drawer-dark-toggle">
        <MudSwitch @bind-Value="@ThemeManager.IsDarkMode" UncheckedColor="Color.Primary" Color="Color.Primary" T="bool" Label="Dark Mode" />
    </div>
</MudNavMenu>

@inject ThemeManager ThemeManager
