@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello!</h1>

<h2>Welcome to your freedom blaze app. Have fun!</h2>

@inject NavigationManager NavManager

@code {
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            NavManager.NavigateTo("/satsconverter", replace: true);
        }
    }
}